body {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
}

a {
  color: #885df1;
}

.weatherApp {
  background-color: white;
  margin: 50px auto;
  max-width: 80vw;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.1);
  border-radius: 19px;
}

.weatherAppData {
  display: flex;
  justify-content: space-between;
}

.weatherAppCity {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weatherAppDetails {
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: rgba(39, 66, 39, 0.49);
}

.weatherAppDetails .pinkish {
  color: #f65282;
}

.weatherAppTemperatureContainer {
  display: flex;
}

.weatherAppIcon {
  /* font-size: 39px;
  margin-top: 21px; */
  width: 100px;
  height: 100px;
}

.weatherAppTemperatureValue {
  font-size: 88px;
  font-weight: bold;
  margin-left: 10px;
}

.weatherAppUnit {
  margin-top: 15px;
  font-size: 28px;
}

main {
  padding: 30px;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

/* .search-form {
} */

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 17px 20px;
}
.search-form-submit {
  background-color: #885df1;
  padding: 17px 30px;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  /* margin-left: 5px; */
}

footer {
  color: rgba(0, 0, 0, 0.75);
  border-top: 1px solid #f9f7fe;
  padding-top: 30px;
  text-align: center;
  font-size: 0.85rem;
}

.weatherForecast {
  margin-top: 20px;
  text-align: center;
}

.weatherForecastDate {
  font-size: 16px;
  color: #6c6e70;
  animation: pulse 20000ms ease-in-out infinite;
}

.eaColumn {
  /* border: 1px solid #F9F7FE; */
  background-color: #f9f7fe;
  animation: blink ease-in-out 20000ms infinite;
}

@keyframes blink {

  0% {
    background-color: #f9f7fe;
    border: 1px solid white;
  }
  100% {
    background-color: white;
    border: 1px solid #f9f7fe;
  }
}

@keyframes pulse {
  0% {
    color: #6c6e70;
  }
  100% {
    color:#6c6e70;    
  }
}

.eaColumn:first-child {
  border-radius: 8px 0px 0px 8px;
}

.eaColumn:last-child {
  border-radius: 0px 8px 8px 0px;
}

.weatherForecastImage img {
  width: 60px;
}

.weatherForecastTemperatures {
  color: red;
}

.weatherForecastTemperatureMax {
  font-size: 14px;
  font-weight: 700;
}

.weatherForecastTemperatureMin {
  color: #6c6e70;
  font-size: 14px;
}

@media only screen and (max-width: 489px) {
  /* Your styles for small phones */

  .weatherApp {
    background-color: white;
    margin: 50px auto;
    max-width: 75vw;
    padding: 15px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.1);
    border-radius: 19px;
  }

  .search-form-input {
    background-color: #f9f7fe;
    border: none;
    border-radius: 6px;
    width: 60%;
    padding: 17px 20px;
  }
  .search-form-submit {
    background-color: #885df1;
    padding: 17px 20px;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 14px;
    /* margin-left: 5px; */
  }

  main {
    padding: 30px 15px;
  }

  .weatherAppData {
    /* width: 80%;
    max-width: 90%; */
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  .weatherAppTemperatureContainer {
    display: flex;
    justify-content: center;
  }

  .weatherAppIcon {
    /* font-size: 39px;
  margin-top: 21px; */
    width: 88px;
    height: 88px;
  }

  .weatherAppTemperatureValue {
    font-size: 88px;
    line-height: 88px;
    font-weight: bold;
    /* margin-left: 10px; */
  }

  .weatherAppUnit {
    margin-top: 8px;
    font-size: 28px;
  }

  #oneRow{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #oneRow .eaColumn{
    width: 50%;
  }
}
